.wp-block-freights-section {
  padding: 30px;

  &.has-background-color-primary-1 {
    background-color: #e15f41;
  }

  &.has-background-color-primary-2 {
    background-color: #303952;
  }

  &.has-background-color-white {
    background-color: #ffffff;
  }

  &.has-background-color-black {
    background-color: #000000;
  }
}
