.wp-block-freights-section {
  width: 100%;
  padding: 30px 15px;

  &.has-background-color-primary-1 {
    background-color: #e15f41;
  }

  &.has-background-color-primary-2 {
    background-color: #303952;
  }

  // 1024
  @media (min-width: 1024px) {
    padding: 30px;
  }
}

.wp-block-freights-section[data-align='wide'] {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
