.wp-block-freights-container {
  width: 100%;
  padding: 30px 15px;

  // 1024
  @media (min-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.wp-block-freights-container[data-width='full'] {
  max-width: 100%;
}

.wp-block-freights-container[data-width='wide'] {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
