.wp-block-freights-rates .block-editor-block-list__layout {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

.wp-block-freights-rates
  .block-editor-block-list__layout
  .block-editor-block-list__block {
  max-width: none;
}

.wp-block-freights-rates
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout
  > [data-type='freights/rate']:not(:first-child) {
  margin-left: 30px;
}

.wp-block-freights-rates
  > .block-editor-inner-blocks
  > .block-editor-block-list__layout
  > [data-type='freights/rate'] {
  flex-grow: 1;
  flex-basis: 0px;
}
