.wp-block-freights-card {
  // 1023 <=
  @media (max-width: 1023px) {
    margin-bottom: 30px;
  }

  // 1024
  @media (min-width: 1024px) {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
  }

  &[data-order='reverse'] {
    flex-direction: row-reverse;
  }
}

.wp-block-freights-card__media,
.wp-block-freights-card__content {
  flex-basis: 50%;
}

.wp-block-freights-card__media {
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wp-block-freights-card__content {
  padding: 30px;

  &.has-background-color-primary-1 {
    background-color: #e15f41;
  }

  &.has-background-color-primary-2 {
    background-color: #303952;
  }

  &.has-background-color-white {
    background-color: #ffffff;
  }

  &.has-background-color-black {
    background-color: #000000;
  }
}
